:root {
  --background: #000000;
  --foreground: #ffffff;
  --primary-yellow: #ffce00;
  --secondary-blue: #00f2ff;
  --tertiary-gray: #333333;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-inter);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-top: 100px;

  @media only screen and (max-width: 500px) {
    padding-top: 150px;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
